* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;

}

header {
  padding: 30px;
  background: #76a5a5;
  color: #fff;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: right;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
 
}
.secbody{
  background-color: #c6d2bc;
}

aside {
  flex: 1;
  background-color: #c6d2bc;
  padding: 20px;
}

section {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}

.ejemplos {
  background-color: rgb(207, 214, 214);
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 3px solid rgb(108, 146, 141);
    
}

footer {
  display: flex;
  padding: 20px;
  background: #76a5a5;
  color: #fff;
  justify-content: center;
}
.footersection{
  background-color: #76a5a5;
  font-size: 30px;
    
}
.navend {
  color: white;
  padding: 14px 20px;
  text-decoration: none;

}
@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }
  /* Change the header background */
  header {
    background: #772014;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #bb8588;
  }
}
