body{
  background-color:  rgb(236, 239, 238);
}

.divstyle{
  max-width: 1140px;
  margin: 0 auto;
  background-color: rgb(206, 209, 207);
}

.divstyle > header {
  font-size: 40px;
  padding: 20px;
  background-color: rgb(133, 161, 145);
  color: white;
  display: flex;
  justify-content: space-between;
}

nav a{
  color: white;
  font-size: 20px;
}
section{
  padding: 20px;
  font-size: 20px;
  line-height: 48px;
  color: white;

} 
 header{
  font-size: 30px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: left;
  flex-shrink: 0;
  flex-basis: 150px;
}

article {
  justify-content: center;
}
#contactme{
  font-size: 30px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: left;
  flex-shrink: 0;
  flex-basis: 150px;
  
}
.navend{
  display: flex;
  justify-content: right;
}
.navend a{
  
  padding: 20px;
}